<!DOCTYPE html>
<html>

<head>
    <title>Redefinição de Senha</title>
    <meta http-equiv="Content-Type" content="text/html">
</head>

<body bgcolor="#ffffff">
    <p style="line-height: 22px;">
        Olá <b>{{name}}</b>, conforme solicitado seguem as instruções para redefinição de senha.
    </p>
    <p style="line-height: 22px;">
        Para prosseguir com a redefinição da sua senha, clique no link e siga as instruções.
        <br>
        <br>
        <a href="{{url}}">Clique aqui</a>
    </p>
</body>

</html>